#map {
  height: 500px;
  width: 100%;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1;
}

.map-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
}

.map-container h2 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 1.8rem;
  color: #333;
}


.sensor-marker:hover {
  transform: scale(1.1);
  z-index: 1000;
}

.sensor-info {
  margin-top: 15px;
  padding: 15px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sensor-info h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #333;
}

.sensor-info p {
  margin: 5px 0;
  font-size: 1rem;
  color: #555;
}

.attribution {
  margin-top: 5px;
  text-align: right;
  font-size: 0.8rem;
  color: #999;
}

.sensor-marker {
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  user-select: none;
}
.sensor-marker.hujan {
  background-color: #2ecc71; /* hijau */
}
.sensor-marker.banjir {
  background-color: #e74c3c; /* merah */
}

